.btn {
    @apply bg-blue-500 text-white px-4 py-2 rounded-md;

    &-primary {
        @apply bg-blue-500 text-white px-4 py-2 rounded-md;
    }

    &-secondary {
        @apply bg-gray-500 text-white px-4 py-2 rounded-md;
    }

    &-danger {
        @apply bg-red-500 text-white px-4 py-2 rounded-md;
    }
    
}